body {
    margin: 0;
    background-color: #000000;
}

.NavBar {
    position: fixed;
    width: 100vw;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.NavBar li {
    float: left;
}

.NavBar a {
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.NavBar a:hover {
    background-color: #111111;
}

.ActiveNavBarElem {
    background-color: #04AA6D;
}